.CodeMirror {
	font-family: 'Inconsolata';
}

.CodeMirror {
	height: auto;
}

.input .CodeMirror-scroll, .output .CodeMirror-scroll {
	/*padding: 0.5em;*/
	box-sizing: border-box;
	overflow-x: hidden !important;
	margin-bottom: 0;
	min-height: 5em;
	/*max-height: 80vh;*/
}

.CodeMirror span {
	color: #333;
}
